Repository f-lab-edu/yousinsa, pull requests merged in 2022-07, with the labels that each got.

#45 [#10] 로그인/로그아웃 API 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/flab/yousinsa/user/config/AuthWebConfig.java
  src/main/java/com/flab/yousinsa/user/config/SecurityConfig.java
  src/main/java/com/flab/yousinsa/user/controller/api/UserController.java
  src/main/java/com/flab/yousinsa/user/controller/interceptor/AuthUserInterceptor.java
  src/main/java/com/flab/yousinsa/user/domain/dtos/AuthUser.java
  src/main/java/com/flab/yousinsa/user/domain/dtos/request/SignInRequestDto.java
  src/main/java/com/flab/yousinsa/user/domain/dtos/request/SignUpRequestDto.java
  src/main/java/com/flab/yousinsa/user/domain/dtos/response/SignInResponseDto.java
  src/main/java/com/flab/yousinsa/user/domain/enums/UserRole.java
  src/main/java/com/flab/yousinsa/user/repository/contract/UserRepository.java
  src/main/java/com/flab/yousinsa/user/service/CustomCryptPasswordEncoder.java
  src/main/java/com/flab/yousinsa/user/service/contract/UserSignInService.java
  src/main/java/com/flab/yousinsa/user/service/converter/SignInDtoConverter.java
  src/main/java/com/flab/yousinsa/user/service/exception/AuthException.java
  src/main/java/com/flab/yousinsa/user/service/exception/SignInFailException.java
  src/main/java/com/flab/yousinsa/user/service/exception/SignOutFailException.java
  src/main/java/com/flab/yousinsa/user/service/impl/UserSignInServiceImpl.java
  src/main/java/com/flab/yousinsa/user/service/impl/UserSignUpServiceImpl.java
  src/test/java/com/flab/yousinsa/user/controller/api/UserControllerTest.java
  src/test/java/com/flab/yousinsa/user/service/impl/UserSignInServiceImplTest.java
  src/test/java/com/flab/yousinsa/user/service/impl/UserSignUpServiceImplTest.java
Labels: ✨ Feature, ✅ Test, 👀 Review Needed

#50 [#1] Store 도메인 구성 및 입점 신청 API 구현하기
  src/main/java/com/flab/yousinsa/global/common/BaseTimeEntity.java
  src/main/java/com/flab/yousinsa/global/config/JpaAuditingConfig.java
  src/main/java/com/flab/yousinsa/store/domain/Store.java
  src/main/java/com/flab/yousinsa/store/domain/StoreRepository.java
  src/main/java/com/flab/yousinsa/store/enums/StoreStatus.java
  src/main/java/com/flab/yousinsa/store/exceptions/NotValidStoreException.java
  src/main/java/com/flab/yousinsa/store/v1/controller/StoreController.java
  src/main/java/com/flab/yousinsa/store/v1/controller/StoreControllerAdvice.java
  src/main/java/com/flab/yousinsa/store/v1/converter/StoreDtoConverter.java
  src/main/java/com/flab/yousinsa/store/v1/daos/StoreDao.java
  src/main/java/com/flab/yousinsa/store/v1/daos/StoreDaoImpl.java
  src/main/java/com/flab/yousinsa/store/v1/dtos/StoreDto.java
  src/main/java/com/flab/yousinsa/store/v1/service/StoreService.java
  src/main/java/com/flab/yousinsa/store/v1/service/StoreServiceImpl.java
  src/main/java/com/flab/yousinsa/user/domain/entities/UserEntity.java
  src/main/java/com/flab/yousinsa/user/service/exception/UserNotFoundException.java
  src/main/resources/schema.sql
  src/test/java/com/flab/yousinsa/store/domain/StoreRepositoryTest.java
  src/test/java/com/flab/yousinsa/store/v1/controller/StoreControllerTest.java
  src/test/java/com/flab/yousinsa/store/v1/service/StoreServiceImplTest.java
  src/test/resources/application.yml
Labels: ✨ Feature, ✅ Test

#58 [REFACTOR] Authentication을 Interceptor에서 AOP로 변경
  src/main/java/com/flab/yousinsa/store/v1/controller/StoreController.java
  src/main/java/com/flab/yousinsa/user/config/AuthWebConfig.java
  src/main/java/com/flab/yousinsa/user/controller/annotation/SessionAuth.java
  src/main/java/com/flab/yousinsa/user/controller/annotation/SignInUser.java
  src/main/java/com/flab/yousinsa/user/controller/api/UserController.java
  src/main/java/com/flab/yousinsa/user/controller/component/AuthUserHandlerMethodArgumentResolver.java
  src/main/java/com/flab/yousinsa/user/controller/interceptor/AuthUserInterceptor.java
  src/main/java/com/flab/yousinsa/user/service/exception/AuthException.java
  src/main/java/com/flab/yousinsa/user/service/exception/SignOutFailException.java
  src/main/java/com/flab/yousinsa/user/service/impl/UserSignUpServiceImpl.java
  src/test/java/com/flab/yousinsa/store/v1/controller/StoreControllerTest.java
  src/test/java/com/flab/yousinsa/user/controller/api/UserControllerTest.java
  src/test/java/com/flab/yousinsa/user/service/impl/UserSignUpServiceImplTest.java
Labels: 🔨 Refactor

#51 [#12][Service Layer] Admin이 신청된 Store 수락 Service
  .gitignore
  src/main/java/com/flab/yousinsa/admin/domain/dtos/RequestStoreDtoResponse.java
  src/main/java/com/flab/yousinsa/admin/service/contract/AdminStoreRequestService.java
  src/main/java/com/flab/yousinsa/admin/service/converter/StoreRequestDtoConverter.java
  src/main/java/com/flab/yousinsa/admin/service/exceptions/InvalidStoreStateException.java
  src/main/java/com/flab/yousinsa/admin/service/exceptions/NoValidStoreExistException.java
  src/main/java/com/flab/yousinsa/admin/service/exceptions/NotPermittedException.java
  src/main/java/com/flab/yousinsa/admin/service/impl/AdminStoreRequestServiceImpl.java
  src/main/java/com/flab/yousinsa/store/domain/Store.java
  src/main/java/com/flab/yousinsa/user/service/exception/WithdrawFailException.java
  src/main/resources/static/docs/index.html
  src/test/java/com/flab/yousinsa/admin/service/impl/AdminStoreRequestServiceImplTest.java
  src/test/resources/application.yml
Labels: ✨ Feature, ✅ Test

#59 [CONFIG] Authentication AOP 설정 파일 및 AOP Test code 작성
  src/main/java/com/flab/yousinsa/global/config/AopAspectConfig.java
  src/main/java/com/flab/yousinsa/user/controller/aop/AuthenticateAspect.java
  src/test/java/com/flab/yousinsa/user/controller/aop/AuthenticateAspectTest.java
  src/test/java/com/flab/yousinsa/user/controller/api/UserControllerTest.java
  src/test/java/com/flab/yousinsa/user/controller/config/SpringTestAopConfig.java
Labels: ✅ Test, 🛠 Settings

#63 [hotfix] JpaAuditingConfig에 대한 같은 설정 파일 삭제
  src/main/java/com/flab/yousinsa/common/config/JpaAuditingConfig.java
Labels: 🐞 Bug
